<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="https://assets.wprock.fr/emoji/joypixels/512/1f680.png">
</head>
<body class="dark:bg-900 dark:text-white">

{{> nav}}